{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block body %}
<form method="POST">
        <input type="text" autocomplete="off" autofocus name="task-text" placeholder="Enter the task text">
        <button type="submit"></button>
</form>
<table>
  <tr>
    <th>ID</th>
    <th>Task</th>
  </tr>
  {% for id, task_text in tasks.items() %}
  <tr>
    <td>{{ id }}</td>
    <td>{{ task_text }}</td>
    <td>
            <form method="POST">
                    <button name="delete" value="{{ id }}"></button> 
            </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
